<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página de testes</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <!-- Custom CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
</head>

    <!-- jQuery -->
    <script src="https://hencework.com/theme/vendors4/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://hencework.com/theme/vendors4/popper.js/dist/umd/popper.min.js"></script>
    <script src="https://hencework.com/theme/vendors4/bootstrap/dist/js/bootstrap.min.js"></script>
</html>